body, html {
    height: 100%;
    background-color: lightslategray;
    scroll-behavior: smooth;
    width: 97%;
    margin: auto;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 98px;
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 68px;
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    scroll-behavior: smooth;
}

h4 {
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 32px;
    scroll-behavior: smooth;
}

.section {
    height: 100px; 
    background-color: lightslategray;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    display: contents;
    clear:both;
}

.parallax1, .parallax2, .parallax3 {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.parallax1 {
    background-image: url("bagp1.jpg");

    height: 90%;
    scroll-behavior: smooth;
}

.parallax2 {
    background-image: url("walter1.JPG");

    height: 90%;
    scroll-behavior: smooth;
}

.parallax3 {
    background-image: url("bagp.PNG");

    height: 90%;
    scroll-behavior: smooth;
}

table, td{
    text-align: center;
    border: solid 3px #515152;
    font-size:20px;
    color: #dfe9f0;
    scroll-behavior: smooth;
    border-radius: 3%;
    transition: 0.5s;
}

td:hover {
    background-color: #cceeff;
    color: black;
}

th {
    text-align: center;
    font-size:20px;
    color: #dfe9f0;
    text-decoration: underline;
    scroll-behavior: smooth;
}

p {
    border: inset 3px;
    text-align: center;
    font-size: 25px;
}

li {
    font-size: 25px;
}


#updated {
    text-decoration: overline;
    transition: 0.5s;
}

#updated:hover {
    color: #cceeff;
    text-decoration: underline;
}